<div class="font-edit">
    <input data-field="name" type="text" value="{{name}}" autofocus/>
    <table>
        {{#each data}}
        <tr>
            {{#each this}}<td class="cell{{#if set}} on{{/if}}" data-x="{{@index}}" data-y="{{@../index}}"></td>{{/each}}
        </tr>
        {{/each}}
    </table>
    <button type="button" data-action="save">Save</button>

    <a href="/#font/{{id}}/delete">delete</a>
    <a href="/#fonts">back</a>
</div>
